body{

	background-image: url();
	background-repeat: repeat-x;
	background-attachment:fixed;
	background-color: #FFFFFF;
	position: absolute;
	left: 15%;
	
}


input[type="text"],input[type="password"],input[type="email"],input[type="tel"]{
width:100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
	}